@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.datepicker-custom {
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    width: 200px;
    padding: 2px 10px;
    width: 90px;
    font-weight: 500;
}
.react-datepicker-wrapper {
    & input {
        outline-color: var(--primary-color);
    }
}
.heading {
    font-size: 2rem;
    &,
    &-s,
    &-m,
    &-l {
        color: var(--black-color);
        font-weight: 700;
        margin: 10px 0;
        text-transform: uppercase;
    }
    &-s {
        font-size: 1.4rem;
    }
    &-m {
        font-size: 5rem;
    }
    &-l {
        font-size: 7rem;
    }
}
.box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.ant-menu-submenu.ant-menu-submenu-selected > .ant-menu-submenu-title {
    transition: none !important;
    color: var(--primary-color);
}

.ant-steps-item-title p {
    font-size: 1.6rem;
}
