:root {
    --text-color: #000;
    --white-color: #fff;
    --gray-color: #7d7d7d;
    --background-white: #ecf0f1;

    --black-color: #000;
    --background-primary: #000;
    --primary-color: #f59121;
}
